$leading--b: 1.5;
$leading--s: 1.25;

$stroke--b: 1px;

$radius--s: 3px;
$radius--b: 4px;

$shadow--1: 0 1px 2px rgba(black, .125);

/* Timing durations */
$duration--s: .125s;
$duration--b: .25s;
$duration--l: .5s;

/* Breakpoints */
$bp__phablet: 460px;
$bp__tablet:  760px;
$bp__laptop:  1008px;
$bp__desktop: 1300px;
$bp__cinema:  1700px;
