extends _templates/_site

block template-body
  .m-top--tall
    .m-top__content
      .m-top__wrap
        h1.m-top__title O nás
    .m-top__splash(data-src="src/static/img/img-5-big.jpg")

  main(role="main").m-blurb--white
    .m-blurb__wrap
      strong.m-blurb__claim(data-grep) Jsme mladá projekční, realizační a servisní společnost pro komplexní elektrosystémy domů a budov.

      .m-blurb__text(data-grep)
        p Přispějeme k Vašemu modernímu domu či budově kompetentním a komplexním přístupem k části elektroinstalace — od konzultace, přes projekt a realizaci až po servis. Pro návrh I realizaci používáme nejmodernější nástroje a procesy, zajišťující našim zákazníkům a partnerům kvalitu, spolehlivost, lhůty a ceny, které očekávají.
        p Reagujeme na hlavní trendy, kterými jsou rychlý vývoj automatizace a internetu věcí, roustoucí tlak na produktivitu, kvalitu, zkracování lhůt a dodržování rozpočtu staveb. V projektování pak důraz kladený na přesnost, shodu s vyhláškami a technickými normami a dokumentací výrobců TZB zařízení a hlavně na koordinaci s ostatními profesemi návrhu stavby – stavební konstrukce, vzduchotechnika, topení, chlazení, zdravotechnika aj. Pro návrh I realizaci používáme nejmodernější  nástroje a procesy, zajišťující našim zákazníkům a partnerům kvalitu, spolehlivost, lhůty a ceny, které očekávají.

      -
        var features = {
          "title": "Proč s námi spolupracovat?",
          "items" :[
            {
              "title": "Flexibilita",
              "text": "BIM umožnuje provádět změny v jakékoliv fázi projektu s okamžitým promítnutím změn do projektové dokumentace."
            },
            {
              "title": "Bezpečnost",
              "text": "Software automaticky kontroluje bezpečnostní prvky v projektu a vyhodnocuje okamžitě možné konfliktní oblasti."
            },
            {
              "title": "Optimalizace nákladů",
              "text": "Při použití softwaru DDS-CAD dosahujeme až 30% úspor montážního materiálu, přičemž má zákazník 100% kontrolu nad nabídkovém řízení."
            }
          ]
        }

      +features(features)

  .m-blurb--light
    .m-blurb__wrap
      .s-about__text.m-blurb__text(data-grep)
        p Uzavíráme strategická partnerství s vedoucími technologickými firmami v oboru.
      +partners

  +people("about", "Náš tým")

  #careers.m-careers
    .m-careers__top
      h2.m-careers__title Právě k nám hledáme

    .m-careers__list
      each instance, index in ["Obchodní zástupce", "Projektant"]
        .m-careers__item
          .m-careers__short
            .m-careers__image(data-src="src/static/img/careers-" + (index + 1) + ".jpg")
            .m-careers__content
              .m-careers__wrap
                mark.m-careers__strong Otevřená pozice
                h3.m-careers__name= instance

          .m-careers__long
            h4.m-careers__caps Více o této pozici
            .m-careers__description
              p
                faker-lorem-paragraph/
              ul
                each instance in [1, 2, 3]
                  li
                    faker-lorem-sentence/
              p
                faker-lorem-paragraph/
            a.m-careers__button(href="mailto:careers@via-electra.eu") Mám zájem o tuto pozici
  +footer
