.c-pill {
  display: inline-block;
  vertical-align: middle;

  background-color: $c-color--190;

  font-size: .875rem;
  font-weight: $font__sans--bold;
  letter-spacing: .0625rem;
  text-transform: uppercase;

  padding: .125em 1em .25em;

  border-radius: 1em;
}
