.c-features {
  margin-top: 7em;

  &__title {
    @include a-leader;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    margin-left: -.5em;
    margin-right: -.5em;

    text-align: left;

    @include breakpoint($bp__phablet) {
      display: flex;
    }
  }

  &__item {
    flex-grow: 1;
    flex-basis: 10em;

    padding: .5em;
    
    @include reset-children;
  }

  &__icon {
    display: inline-block;
  }

  &__name {
    @include a-head--3;
  }

  &__text {
    color: $c-grey--300;

    @include breakpoint($bp__tablet) {
      font-size: 1.125em;
    }
  }
}
