.c-features {
  margin-top: 3.5em;

  @include breakpoint($bp__tablet) {
    margin-top: 7em;
  }

  &__title {
    @include a-leader;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    margin-left: -.5em;
    margin-right: -.5em;
    margin-bottom: 0;

    text-align: left;

    @include breakpoint($bp__phablet) {
      display: flex;
    }

    @include breakpoint($bp__laptop) {
      margin-left: -$spacing--s;
      margin-right: -$spacing--s;
    }
  }

  &__item {
    flex-grow: 1;
    flex-basis: 10em;

    padding: .5em;
    
    @include reset-children;

    @include breakpoint($bp__laptop) {
      padding-left: $spacing--s;
      padding-right: $spacing--s;
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    min-height: 3em;
  }

  &__name {
    @include a-head--3;
  }

  &__text {
    color: $c-grey--300;

    @include breakpoint($bp__tablet) {
      font-size: 1.125em;
    }
  }
}
