[class^="c-hud--"],
[class*=" c-hud--"] {
  top: 0;
  left: 0;
  z-index: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  box-sizing: border-box;
}

.c-hud {
  &--top {
    position: absolute;

    width: 50vw;
    padding: $spacing--b;

    @include breakpoint(max-width $bp__tablet - 1) {
      display: none;
    }
  }

  &--peek {
    position: fixed;

    width: 100%;
    padding: 1em $spacing--s;

    box-shadow: $shadow--1;

    @include breakpoint($bp__tablet) {
      padding-left: $spacing--b;
      padding-right: $spacing--b;

      transform: translateY(-100%);
    }
  }

  &__toggle {
    @include reset-button;

    background-color: transparent;
    border: 0;
    padding: .75em;
    margin-right: -.75em;

    svg {
      display: block;
    }

    &:focus {
      outline: 0;
    }
  }
}
