[class^="c-logo--"],
[class*=" c-logo--"] {
  display: inline-block;

  line-height: 1;

  svg {
    vertical-align: middle;

    margin-right: .75em;
  }
}

.c-logo {
  &--black {
    @include a-link--black;
  }
  &--white {
    @include a-link--white;
  }
}

[class^="c-logo__text"],
[class*=" c-logo__text"] {
  vertical-align: middle;
  font-weight: $font__sans--bold;
}

.c-logo__text {
  &--main {
    font-size: 1.5em;
  }

  &--small {
    font-size: 1.25em;
  }
}
