.c-menu {
  display: none;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;

  width: 100%;
  height: 100vh;
  
  .menu--is-active & {
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;

    height: 100%;
    box-sizing: border-box;

    overflow: auto;

    @include pad(square);

    background-color: white;

    animation: $duration--l $easeOutQuint forwards slideLeft;

    @include breakpoint($bp__tablet) {
      margin-left: 50vw;

      justify-content: space-between;
    }
  }

  &__close {
    position: absolute;
    top: .875em;
    right: .5em;

    @include reset-button;

    background-color: transparent;
    border: 0;
    padding: .75em;

    @include breakpoint($bp__tablet) {
      right: 1.25em;
    }

    svg {
      display: block;
    }

    &:focus {
      outline: 0;
    }
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    
    font-size: 2em;

    @include breakpoint($bp__laptop) {
      font-size: 3.25em;
      font-weight: $font__sans--light;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: .5em;
    }
  }

  &__link {
    @include a-link--black;
  }

  &__frame {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    cursor: w-resize;

    background-image: linear-gradient(-45deg, $c-color--170, $c-color--130);

    animation: $duration--l forwards dim;
  }

  &__switch {
    @include a-link--dark;

    @include a-caps(true);
    margin-top: 1em;
  }
}
