.c-partners {
  &__title {
    @include a-caps--small;

    margin-bottom: 4em;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    line-height: 1;
  }
}
