/* Defaults */
$default__family:  $font__sans;
$default__weight:  $font__sans--regular;
$default__leading: $leading--b;
$default__color:   black;

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  cursor: default;

  font: $default__weight 1em $default__family;
  font-variant: no-contextual;
  line-height: $default__leading;

  color: $default__color;

  @include breakpoint($bp__cinema) {
    font-size: 1.25em;
  }
}

img {
  display: block;

  max-width: 100%;
}

canvas,
iframe {
  display: block;
  width: 100%;
}

table {
  width: 100%;
}

a {
  text-decoration: none;

  &:link {
    color: $c-link;
  }
  &:visited {
    color: $c-visited;
  }
  &:hover {
    color: $c-hover;
  }
  &:active {
    color: $c-active;
  }
}

nav a {
  text-decoration: none;
}

::selection {
  background-color: $c-select__bg;
  color: $c-select__text;
  text-shadow: none;
}

body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
