@mixin a-head--1($fitted: false) {
  font-size: 1.625em;
  font-weight: $font__sans--regular;

  @if $fitted == true {
    margin-top: .5em;
    margin-bottom: .5em;
  } @else {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  @include breakpoint($bp__tablet) {
    font-size: 2.5em;
    font-weight: $font__sans--light;
    line-height: $leading--s;
  }

  @include breakpoint($bp__laptop) {
    font-size: 3.25em;
  }
}

@mixin a-head--2 {
  font-size: 1.375em;
  font-weight: $font__sans--regular;

  margin-top: 1.25em;
  margin-bottom: 1.25em;

  @include breakpoint($bp__tablet) {
    font-size: 2em;
    line-height: $leading--s;
  }

  @include breakpoint($bp__laptop) {
    font-size: 2.5em;
  }
}

@mixin a-head--3($spaced: false) {
  font-size: 1.125em;
  font-weight: $font__sans--bold;

  @if $spaced == true {
    margin-top: 2em;
    margin-bottom: 2em;
  } @else {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  @include breakpoint($bp__tablet) {
    font-size: 1.5em;
  }

  @include breakpoint($bp__laptop) {
    font-size: 1.75em;  
    line-height: $leading--s;
  }
}

@mixin a-head--4 {
  font-size: 1em;
  font-weight: $font__sans--bold;

  margin-top: 1em;
  margin-bottom: 1em;

  @include breakpoint($bp__tablet) {
    font-size: 1.125em;
  }

  @include breakpoint($bp__laptop) {
    font-size: 1.25em;
  }
}

@mixin a-head--5 {
  font-size: 1em;
  font-weight: $font__sans--regular;

  margin-top: 2em;
  margin-bottom: 1em;
}

@mixin a-caps($colourless: false) {
  font-size: 1em;
  font-weight: $font__sans--regular;

  text-transform: uppercase;
  letter-spacing: .125em;

  @if $colourless == false {
    color: $c-grey--500;
  }

  @include breakpoint($bp__tablet) {
    font-size: 1.125em;
    letter-spacing: .25em;
  }
}

@mixin a-caps--small($colourless: false) {
  font-size: .75em;
  font-weight: $font__sans--regular;

  text-transform: uppercase;
  letter-spacing: .25em;

  @if $colourless == false {
    color: $c-grey--700;
  }
}

@mixin a-leader {
  @include a-caps;

  margin-top: 2em;
  margin-bottom: 2em;
}

@mixin a-link--black {
  &:link,
  &:visited {
    color: black;
  }
  &:hover,
  &:active {
    color: $c-grey--300;
  }
}

@mixin a-link--white {
  &:link,
  &:visited {
    color: white;
  }
  &:hover,
  &:active {
    color: rgba(white, .625);
  }
}

@mixin a-link--dark {
  &:link,
  &:visited {
    color: $c-grey--500;
  }
  &:hover,
  &:active {
    color: $c-grey--700;
  }
}

@mixin a-link--inverse {
  &:link,
  &:visited {
    color: $c-hover;
  }
  &:hover,
  &:active {
    color: $c-link;
  }
}
