@mixin space {
  padding: $spacing--s;

  @include breakpoint($bp__tablet) {
    padding: $spacing--b;
  }

  @include breakpoint($bp__laptop) {
    padding: $spacing--m;
  }
}

@mixin push($direction: top) {
  margin-#{$direction}: 2rem;

  @include breakpoint($bp__laptop) {
    margin-#{$direction}: 4rem;
  }
}

@mixin pad($direction: both) {
  @if $direction == horizontal {
    @include padding(null $spacing--s);
  }
  @else if $direction == vertical {
    @include padding(2em null);
  }
  @else if ($direction == top or $direction == bottom) {
    padding-#{$direction}: 2em;
  }
  @else if ($direction == square) {
    padding: $spacing--s;
  }
  @else {
    padding: 2em $spacing--s;
  }

  @include breakpoint($bp__tablet) {
    @if $direction == horizontal {
      @include padding(null $spacing--b);
    }
    @else if $direction == vertical {
      @include padding(3.5em null);
    }
    @else if ($direction == top or $direction == bottom) {
      padding-#{$direction}: 3.5em;
    }
    @else if ($direction == square) {
      padding: $spacing--b;
    }
    @else {
      padding: 3.5em $spacing--b;
    }
  }

  @include breakpoint($bp__laptop) {
    @if $direction == horizontal {
      @include padding(null $spacing--m);
    }
    @else if $direction == vertical {
      @include padding(5em null);
    }
    @else if ($direction == top or $direction == bottom) {
      padding-#{$direction}: 5em;
    }
    @else if ($direction == square) {
      padding: $spacing--m;
    }
    @else {
      padding: 5em $spacing--m;
    }
  }
}

@mixin a-wrap($direction: both) {
  margin-left: auto;
  margin-right: auto;

  @include reset-children;
  @include pad($direction);
}

.l-wrap {
  @include a-wrap;
}
