[class^="m-blurb--"],
[class*=" m-blurb--"] {
  text-align: center;
}

.m-blurb--light {
  background-color: $c-grey--900;
}

.m-blurb {
  &__wrap {
    @include a-wrap;
    max-width: 70em;
  }

  &__title {
    @include a-leader;
  }

  &__claim {
    display: block;

    @include a-head--2;

    max-width: 25em;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  &__text {
    @include reset-children;
    text-align: left;

    max-width: 40em;

    margin-left: auto;
    margin-right: auto;
    @include push(bottom);

    color: $c-grey--300;

    @include breakpoint($bp__tablet) {
      :first-child {
        font-size: 1.25em;
      }

      :not(:first-child) {
        columns: 2;
      }

      margin-top: 2.5em;
      padding-left: 1.5em;
    }
    @include breakpoint($bp__laptop) {
      :first-child {
        font-size: 1.5em;
      }
    }
  }

  &__button {
    @include button--outline;

    @include push;

    &:before {
      /* Oops */
      background-color: $c-grey--900;
    }
  }
}
