[class^="m-blurb--"],
[class*=" m-blurb--"] {
  text-align: center;
}

.m-blurb--light {
  background-color: $c-grey--900;
}

.m-blurb {
  &__wrap {
    @include a-wrap;
  }

  &__title {
    @include a-leader;
  }

  &__claim {
    display: block;

    @include a-head--2;

    max-width: 25em;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  &__text {
    font-size: 1.5em;
    text-align: left;

    max-width: 30em;

    margin: 2.5em auto;

    color: $c-grey--300;
  }

  &__button {
    @include button--outline;

    margin-top: 3em;

    &:before {
      /* Oops */
      background-color: $c-grey--900;
    }
  }
}
