.m-careers {
  &__top {
    @include a-wrap;
    padding-top: 0;

    text-align: center;
  }

  &__title {
    @include a-head--3(true);
  }

  &__item {
    @include clearfix;
  }

  &__short {
    display: flex;
  }

  &__image {
    flex-grow: .625;
    flex-basis: 0;

    min-height: 50vmin;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    flex-grow: .375;
    flex-basis: 0;
  }

  &__wrap {
    padding: 4em;
  }

  &__strong {
    font-weight: $font__sans--regular;

    color: $c-link;
    background-color: transparent;
  }

  &__name {
    @include a-head--2;

    color: black;
    margin-top: .25em;
  }

  &__long {
    position: relative;
    z-index: 5;

    float: right;

    width: 62.5%;
    box-sizing: border-box;

    padding: 3em;
    margin-top: -5em;
    margin-bottom: 3em;

    background-color: white;

    @include reset-children;
  }

  &__caps {
    @include a-caps--small;
  }

  &__description {
    font-size: 1.25em;

    color: $c-grey--500;
  }

  &__button {
    @include button--outline;

    margin-top: 2em;
  }
}
