.m-careers {
  &__top {
    @include a-wrap;
    padding-top: 0;

    text-align: center;
  }

  &__title {
    @include a-head--3(true);
  }

  &__item {
    @include clearfix;
  }

  &__short {
    @include breakpoint($bp__tablet) {
      display: flex;
    }
  }

  &__image {
    flex-grow: .625;
    flex-basis: 0;

    min-height: 50vmin;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    flex-grow: .375;
    flex-basis: 0;
  }

  &__wrap {
    @include pad(square);

    @include reset-children;
  }

  &__strong {
    font-weight: $font__sans--regular;

    color: $c-link;
    background-color: transparent;
  }

  &__name {
    @include a-head--2;

    color: black;
    margin-top: .25em;
  }

  &__long {
    position: relative;
    z-index: 5;

    max-width: 50em;

    box-sizing: border-box;
    @include space;
    @include push(bottom);

    background-color: white;

    @include reset-children;

    @include breakpoint($bp__laptop) {
      margin-top: -5em;

      margin-left: 37.5%;
    }
  }

  &__caps {
    @include a-caps--small;
  }

  &__description {
    color: $c-grey--500;

    @include breakpoint($bp__tablet) {
      font-size: 1.25em;
    }
  }

  &__button {
    @include button--outline;

    @include breakpoint($bp__tablet) {
      margin-top: 2em;
    }
  }
}
