.m-detail {
  &__top {
    position: relative;

    @include breakpoint($bp__tablet) {
      min-height: 100vh;

      overflow: hidden;
    }
  }

  &__splash {
    height: 60vh;

    @include breakpoint($bp__tablet) {
      height: 90vh;
    }

    background-position: center;
    background-size: cover;
  }

  &__scoop {
    box-sizing: border-box;

    color: white;
    background-image: linear-gradient(-45deg, $c-color--170, $c-color--130);

    @include pad(square);

    @include reset-children;

    @include breakpoint($bp__tablet) {
      position: absolute;
      bottom: 0;
      right: 0;

      width: 50%;

      animation: $duration--l $easeOutQuint both 1s slideUp;
    }
  }

  &__back {
    display: inline-block;

    text-transform: uppercase;
    letter-spacing: .25em;

    @include a-link--white;

    margin-bottom: 2em;

    @include breakpoint($bp__laptop) {
      margin-bottom: 20vh;
    }
  }

  &__cat {
    display: block;

    font-weight: $font__sans--regular;
  }

  &__title {
    @include a-head--1(true);
  }

  &__wrap {
    @include a-wrap;
  }

  &__claim {
    display: block;

    @include a-head--2;

    max-width: 25em;
  }

  &__info {
    @include pad(bottom);

    @include breakpoint($bp__tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin: -$spacing--b / 2;
    }
  }

  &__group--description {
    flex-basis: 50em;
  }

  &__editor {
    color: $c-grey--300;

    @include breakpoint($bp__phablet) {
      font-size: 1.25em;

      ul {
        padding-left: 1.25em;
      }
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__loop {
    margin: -$spacing--s / 2;

    img {
      padding: $spacing--s / 2;

      box-sizing: border-box;
    }

    @include breakpoint($bp__tablet) {
      margin: -$spacing--b / 2;

      img {
        padding: $spacing--b / 2;
      }
    }

    @include breakpoint($bp__laptop) {
      margin: -$spacing--m / 2;

      img {
        padding: $spacing--m / 2;
      }
    }
  }

  &__split {
    @include breakpoint($bp__phablet) {
      @include clearfix;

      & > * {
        float: left;
        width: 50%;
      }
    }
  }

  &__embed {
    box-sizing: border-box;
    padding: $spacing--s / 2;

    @include breakpoint($bp__tablet) {
      padding: $spacing--b / 2;
    }

    @include breakpoint($bp__laptop) {
      padding: $spacing--m / 2;
    }
  }

  &__holder {
    position: relative;

    padding-bottom: 56.25%; /* 16:9 */

    iframe {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
    }
  }
}

[class^="m-detail__group"],
[class*=" m-detail__group"] {
  @include breakpoint($bp__tablet) {
    margin: $spacing--b / 2;

    @include reset-children;
  }
}
