.m-facts {
  list-style-type: none;
  padding-left: 0;

  margin: -.5em -.25em -1em;

  @include breakpoint($bp__phablet) {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    margin: 1em auto;

    padding-left: .25em;
    padding-right: .25em;

    flex-basis: 12.5em;

    @include breakpoint(max-width $bp__phablet - 1) {
      margin-top: 2em;

      max-width: 15em;
    }
  }

  &__digit {
    font-size: 2.5em;
    font-weight: $font__sans--regular;
    line-height: 1;

    white-space: nowrap;

    @include breakpoint($bp__laptop) {
      font-size: 5em;
      font-weight: $font__sans--light;
    }
  }

  &__label {
    display: block;

    line-height: $leading--s;

    opacity: .7;

    margin-top: 1em;

    @include breakpoint($bp__laptop) {
      font-size: 1.25em;
    }
  }
}
