.m-footer {
  color: white;
  background-color: $c-grey--100;

  &__wrap {
    @include pad;
  }

  &__flex {
    margin: -$spacing--s;

    @include breakpoint($bp__tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__card {
    flex-basis: 18em;

    margin: $spacing--s;
  }

  &__logo {
    min-height: 2.75rem;
  }

  &__contact ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 3.25rem;

    @include breakpoint($bp__laptop) {
      font-size: 1.25em;
    }

    li {
      margin-top: .75em;
    }

    a {
      @include a-link--inverse;
    }
  }
  
  &__contextual {
    list-style-type: none;
    padding-left: 0;
    margin-top: 1.5em;
    margin-left: 3.25rem;

    line-height: 2;

    a {
      position: relative;

      @include a-link--dark;

      &:before {
        position: absolute;
        left: -1.75em;

        content: "\2192";
      }
    }
  }

  &__group {
    margin: $spacing--s;

    @include breakpoint($bp__laptop) {
      font-size: 1.25em;
    }
  }

  &__section {
    display: inline-block;

    font-weight: $font__sans--regular;
    color: $c-grey--500;

    @include breakpoint($bp__tablet) {
      min-height: 2.75rem;
    }
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    @include breakpoint(max-width $bp__tablet - 1) {
      margin-left: 3.25rem;
    }
  }

  &__item {
    margin-top: .75em;
  }

  &__link {
    @include a-link--white;
  }

  &__copyright {
    float: right;

    font-size: .625em;
    color: $c-grey--300;
  }
}
