.m-hiring {
  @include breakpoint(max-width $bp__tablet - 1) {
    text-align: center;
  }
  @include breakpoint($bp__tablet) {
    display: flex;
  }

  &__image {
    min-height: 70vmin;

    flex-grow: .625;
    flex-basis: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    flex-grow: .375;
    flex-basis: 0;
  }

  &__wrap {
    @include space;
    @include reset-children;
    
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }

  &__strong {
    font-weight: $font__sans--regular;
    color: $c-link;

    margin-bottom: 1em;
  }

  &__text {
    font-size: 1.5em;

    @include breakpoint($bp__laptop) {
      margin-bottom: 3em;
    }
  }

  &__button {
    @include button--outline;
  }
}
