.m-infobox {
  &__wrap {
    @include a-wrap;
    padding-bottom: 0 !important;
  }

  &__title {
    @include a-head--2;
    text-align: center;
  }

  &__body {
    @include breakpoint($bp__tablet) {
      display: flex;
    }
  }

  &__block {
    flex-grow: 1;
    flex-basis: 10em;

    &:last-child {
      margin-top: 2em;
    }

    @include breakpoint($bp__tablet) {
      &:last-child {
        margin-top: 15vh;
      }
    }
  }

  &__image {
    padding-bottom: 70%;

    background-position: center;
    background-size: cover;
  }

  &__head {
    @include a-head--3;
  }

  &__text {
    color: $c-grey--300;

    margin-right: 2em;

    h3 {
      @include a-head--5;
    }

    ul {
      padding-left: 1.25em;
    }

    @include breakpoint($bp__laptop) {
      font-size: 1.25em;
    }
  }
}
