.m-offices {
  &__wrap {
    @include a-wrap;
  }

  &__title {
    @include a-head--3(true);

    text-align: center;
  }

  &__list {
    margin: -$spacing--s;

    @include clearfix;
  }

  &__item {
    padding: $spacing--b $spacing--s;

    @include breakpoint($bp__laptop) {
      float: left;

      width: 50%;
      box-sizing: border-box;
    }
  }

  &__embed {
    position: relative;

    height: 40vmin;
    min-height: 15em;

    background-color: $c-grey--900;

    iframe {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
    }
  }

  &__info {
    @include breakpoint($bp__phablet) {
      display: flex;
      justify-content: space-between;

      max-width: 25em;
    }
  }

  &__description,
  &__reach {
    @include reset-children;

    margin-top: $spacing--s;

    @include breakpoint($bp__tablet) {
      margin-top: $spacing--b;
    }
  }

  &__city {
    @include a-head--4;
  }

  &__address {
    list-style-type: none;
    padding-left: 0;

    color: $c-grey--300;
  }

  &__portrait {
    border-radius: 50%;
    width: 2em;

    display: inline-block;
    vertical-align: middle;

    margin-right: .5em;
  }

  &__name {
    vertical-align: middle;

    font-size: 1.25em;
    font-weight: $font__sans--regular;
  }

  &__contact {
    list-style-type: none;
    padding-left: 2.75em;
  }
}
