.m-pins {
  @include breakpoint(max-width $bp__tablet - 1) {
    text-align: center;
  }
  @include breakpoint($bp__tablet) {
    display: flex;
  }

  &__image {
    padding-bottom: 62.5%;

    flex-grow: .625;
    flex-basis: 0;

    order: 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include breakpoint($bp__tablet) {
      padding-bottom: 40%;
    }
  }

  &__content {
    flex-grow: .375;
    flex-basis: 0;
  }

  &__wrap {
    @include space;
    @include reset-children;
  }

  &__strong {
    font-weight: $font__sans--regular;
    color: $c-link;

    margin-bottom: 1em;
  }

  &__text {
    font-size: 1.5em;

    @include breakpoint($bp__laptop) {
      margin-bottom: 3em;
    }
  }

  &__button {
    @include button--outline;
  }
}
