.m-related {
  &__top {
    @include a-wrap;

    text-align: center;
  }

  &__title {
    @include a-leader;
  }

  &__list {
    display: flex;

    border-top: 1px solid $c-grey--800;
  }

  &__link {
    flex-grow: 1;
    flex-basis: 10em;

    text-align: center;

    @include breakpoint($bp__phablet) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    padding: 2em;

    @include a-link--black;
    border-right: 1px solid $c-grey--800;

    &:last-child {
      border-right: 0;
    }
  }

  &__image {
    width: 4em;

    border-radius: 50%;

    @include breakpoint(max-width $bp__phablet - 1) {
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint($bp__tablet) {
      width: 8em;
    }

    .m-related__link:last-child & {
      order: 1;
    }
  }

  &__name {
    display: block;

    @include a-head--3;

    @include breakpoint(max-width $bp__phablet - 1) {
      margin-bottom: 0;
    }

    @include breakpoint($bp__phablet) {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}
