.m-reach {
  text-align: center;

  &__wrap {
    @include a-wrap;
  }

  &__title {
    @include a-leader;
  }

  &__text {
    @include a-head--2(false);

    max-width: 25em;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  &__question {
    @include a-head--3;
    margin-right: 1.5em;
  }

  &__thumbnail {
    margin-right: 3em;
    border-radius: 50%;

    .m-reach__person--large & {
      width: 8em;
    }
    .m-reach__person--small & {
      width: 6em;
    }
  }

  &__details {
    text-align: left;
  }

  &__name {
    font-weight: $font__sans--regular;
    
    .m-reach__person--large & {
      font-size: 1.75em;
    }

    .m-reach__person--small & {
      font-size: 1.5em;
    }
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: .5em;
    margin-bottom: 0;

    .m-reach__person--large & {
      font-size: 1.25em;
    }    

    .m-reach__person--small & {
      font-size: 1.125em;
    }
  }

  &__button {
    @include button--outline;

    margin-top: 4em;
  }
}

[class^="m-reach__person--"],
[class*=" m-reach__person--"] {
  display: flex;
  justify-content: center;
  align-items: center;
}
