.m-reach {
  text-align: center;

  &__wrap {
    @include a-wrap;
  }

  &__title {
    @include a-leader;
  }

  &__text {
    @include a-head--2;

    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  &__question {
    @include a-head--3;
    margin-right: 1.5em;
  }

  &__thumbnail {
    border-radius: 50%;
    
    margin-bottom: .5em;

    .m-reach__person--large & {
      width: 6em;
    }
    .m-reach__person--small & {
      width: 4em;
    }

    @include breakpoint($bp__phablet) {
      margin-right: 2em;
    }

    @include breakpoint($bp__tablet) {
      .m-reach__person--large & {
        width: 8em;
      }
      .m-reach__person--small & {
        width: 6em;
      }
    }
  }

  &__details {
    @include breakpoint($bp__phablet) {
      text-align: left;
    }
  }

  &__name {
    font-weight: $font__sans--regular;
    
    .m-reach__person--large & {
      font-size: 1.75em;
    }

    .m-reach__person--small & {
      font-size: 1.5em;
    }
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: .5em;
    margin-bottom: 0;

    .m-reach__person--small & {
      font-size: 1.125em;
    }

    .m-reach__person--large & {
      font-size: 1.25em;
    }    
  }

  &__button {
    @include button--outline;

    @include push;
  }
}

[class^="m-reach__person--"],
[class*=" m-reach__person--"] {
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(max-width $bp__phablet - 1) {
    flex-direction: column;
  }
}
