.m-services {
  text-align: center;

  &__wrap {
    @include a-wrap;
    max-width: 90em;

    /* Avoid peeking for Smoothscroll */
    padding-bottom: .125em !important;
  }

  &__title {
    @include a-leader;
  }

  &__list {
    margin: -1.5em -.5em;

    display: flex;

    @include breakpoint(max-width $bp__tablet) {
      flex-direction: column;
      align-items: center;
    }

    @include breakpoint($bp__tablet) {
      justify-content: space-around;
    }
  }

  &__item {
    flex-basis: 16em;

    margin: 1.5em .5em;

    max-width: 20em;

    @include breakpoint($bp__tablet) {
      position: relative;
      padding-bottom: 3.5em;

      flex-grow: 1;
    }
  }

  &__image {
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;

    max-width: 12em;

    @include breakpoint($bp__laptop) {
      max-width: 16em;
    }
  }

  &__name {
    @include a-head--3;

    color: black;
  }

  &__text {
    color: $c-grey--300;

    @include breakpoint($bp__laptop) {
      font-size: 1.125em;
    }
  }

  &__button {
    @include button--outline;
    
    @include breakpoint($bp__tablet) {
      position: absolute;

      bottom: 0;
      left: 50%;
      
      transform: translateX(-50%);
    }
  }
}
