[class^="m-split--"],
[class*=" m-split--"] {
  display: flex;
}

.m-split {
  &--full {
    min-height: 100vh;
  }

  &--short {
    min-height: 75vh;
  }

  &__image {
    flex: 1 50%;
    order: 1;

    background-position: center;
    background-size: cover;
  }

  &__back {
    display: inline-block;

    text-transform: uppercase;
    letter-spacing: .25em;
  }
}

[class^="m-split__content--"],
[class*=" m-split__content--"] {
  flex: 1 50%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 3em;

  @include reset-children;

  h1 {
    @include a-head--1;
  }
}

.m-split__content--gradient {
  color: white;
  background-image: linear-gradient(-45deg, $c-color--170, $c-color--130);

  a {
    @include a-link--white;
  }
}
