[class^="m-split--"],
[class*=" m-split--"] {
  display: flex;

  min-height: 100vh;

  @include breakpoint(max-width $bp__tablet - 1) {
    flex-direction: column;
  }
}

.m-split {
  &--short {
    @include breakpoint($bp__tablet) {
      min-height: 75vh;
    }
  }

  &__image {
    flex-grow: 1;
    flex-basis: 10em;

    background-position: center;
    background-size: cover;
  }

  &__back {
    display: inline-block;

    text-transform: uppercase;
    letter-spacing: .25em;
  }
}

[class^="m-split__content--"],
[class*=" m-split__content--"] {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  flex-grow: 1;
  flex-basis: 10em;

  @include reset-children;

  padding: $spacing--s;

  @include breakpoint($bp__tablet) {
    padding: $spacing--b;
  }

  @include breakpoint($bp__desktop) {
    padding: $spacing--m;
  }

  padding-top: 16.5em;

  h1 {
    @include a-head--1;
    margin-bottom: 0;
  }
}

.m-split__content--gradient {
  color: white;
  background-image: linear-gradient(-45deg, $c-color--170, $c-color--130);

  a {
    @include a-link--white;
  }
}
