.m-top {
  &__content {
    color: white;
    background-image: linear-gradient(-45deg, $c-color--170, $c-color--130);

    padding-top: 6.5em;
  }

  &__wrap {
    @include a-wrap(square);
  }

  &__title {
    @include a-head--1;
  }

  &__splash {
    padding-bottom: 50%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-top: -20vh;

    margin-left: $spacing--s;
    margin-right: $spacing--s;

    @include breakpoint($bp__tablet) {
      margin-left: $spacing--b;
      margin-right: $spacing--b;
    }

    @include breakpoint($bp__laptop) {
      margin-left: $spacing--m;
      margin-right: $spacing--m;
    }
  }
}

.m-top--tall {
  .m-top__content {
    padding-bottom: 20vh;
  }
}
