.m-work {
  @include pad(top);

  &__title {
    @include a-leader;
    margin-top: 0 !important;

    text-align: center;
  }

  &__item {
    @include breakpoint($bp__tablet) {
      display: flex;
    }
  }

  &__image {
    display: block;
    min-height: 60vmin;

    flex-grow: .625;
    flex-basis: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .m-work__item:nth-child(even) & {
      order: 1;
    }
  }

  &__content {
    flex-grow: .375;
    flex-basis: 0;
  }

  &__link {
    display: block;
    
    @include space;
  }

  &__cat {
    font-weight: $font__sans--regular;
  }

  &__name {
    @include a-head--2;

    color: black;
    margin-top: .25em;
  }
}
