[data-countup] {
  opacity: 0;
  transform: translateY(1em);

  transition: opacity $duration--l, transform $duration--l;

  @for $i from 2 through 4 {
    &:nth-child(#{$i}) {
      transition-delay: $i * .0625s;
    }
  }

  &.countup--is-active {
    opacity: 1;
    transform: translateY(0);
  }
}
