mixin features(object)
  .c-features
    h2.c-features__title= object.title
    ul.c-features__list
      each instance, index in object.items
        li.c-features__item
          span.c-features__icon
            img(src="src/static/svg/icon-temp-" + (index + 1) + ".svg")
          h3.c-features__name= instance.title
          p.c-features__text= instance.text
