mixin footer
  footer.m-footer
    .m-footer__wrap
      .m-footer__flex
        .m-footer__card
          a.m-footer__logo.c-logo--white(href="index.html")
            include ../../static/svg/logo-main.svg
            strong.c-logo__text--main via electra

          ul.m-footer__contact
            li Purkyňova 648/125 
            li 612 00 Brno
            li: a(href="mailto:info@via-electra.eu") info@via-electra.eu
            li: a(href="tel:+420733666106") +420 733 666 106

          ul.m-footer__contextual
            li: a(href="about.html#people") Zaměstnanci
            li: a(href="contact.html#offices") Pobočky

        -
          var sitemap = [
            {
              "title": "Služby",
              "pages": [
                {
                  "name": "Projektování"
                },
                {
                  "name": "Realizace"
                },
                {
                  "name": "Engineering"
                }
              ],
              "href": "service.html"
            },
            {
              "title": "Vybrané reference",
              "pages": [
                {
                  "name": "Optika Richter"
                },
                {
                  "name": "Rodinný dům Kociánka"
                },
                {
                  "name": "Polyfunkční dům Bratislavská"
                }
              ],
              "href": "detail.html"
            },
            {
              "title": "O nás",
              "pages": [
                {
                  "name": "Představení",
                  "href": "about.html"
                },
                {
                  "name": "Náš tým",
                  "href": "about.html#people"
                },
                {
                  "name": "Kariéra",
                  "href": "about.html#careers"
                }
              ]
            }
          ]
        each group in sitemap
          .m-footer__group
            strong.m-footer__section= group.title
            ul.m-footer__list
              each page in group.pages
                li.m-footer__item
                  a.m-footer__link(href= page.href || group.href)= page.name

      small.m-footer__copyright © 2017 via electra s.r.o.
