mixin hud
  header.c-hud
    a.c-logo--black(href="index.html")
      include ../../static/svg/logo-main.svg
      strong.c-logo__text via electra
    button.c-hud__toggle(type="button")
      include ../../static/svg/icon-menu.svg
