-
  var people = [
    {
      "name": "David Hradil",
      "position": "Vedoucí kanceláře, specialista Audio & Video",
      "phone": "+420 777 800 599",
      "email": "david.hradil@via-electra.eu"
    },
    {
      "name": "Marek Hladík",
      "position": "Vedoucí kanceláře, specialista IT & Komunikace",
      "phone": "+420 728 513 039",
      "email": "marek.hladik@via-electra.eu"
    },
    {
      "name": "Marek Smolej",
      "position": "Vedoucí kanceláře, specialista Silnoproud & Automatizace",
      "phone": "+421 905 532 105",
      "email": "marek.smolej@via-electra.eu"
    },
    {
      "name": "Jan Veselý",
      "position": "Projektant, specialista Silnoproud & Osvětlení",
      "phone": "+420 739 020 071",
      "email": "jan.vesely@via-electra.eu"
    },
    {
      "name": "Maroš Sinčák",
      "position": "Projektant, specialista Silnoproud & EZS, EPS",
      "phone": "+421 904 054 336",
      "email": "maros.sincak@via-electra.eu"
    },
    {
      "name": "Ladislav Onderčin",
      "position": "Projektant, specialista Silnoproud & Hromosvody",
      "phone": "+421 944 927 466",
      "email": "ladislav.ondercin@via-electra.eu"
    },
    {
      "name": "Jaroslav Veselý",
      "position": "Ředitel společnosti, vedoucí kanceláře",
      "phone": "+420 733 666 106",
      "email": "jaroslav.vesely@via-electra.eu"
    }
  ]

mixin people(title, blurb)
  #people.m-people
    .m-people__wrap
      h2.m-people__title= title

      if blurb
        .m-people__blurb(data-grep)
          p Naše společnost je založená a vedená profesionály v oboru automatizace a elektro s více než dvacetiletými zkušenostmi, získanými u globálního technologického lídra daného odvětví — společnosti ABB.
          p Náš nejzkušenější projektant, Ing. Jan Veselý, promoval na VUT v Brně v roce 1967 a již více než 50 let se věnuje projektování elektro.

      .m-people__list
        each instance, index in people
          .m-people__item
            img.m-people__portrait(src="http://source.unsplash.com/random/480x480?sig=" + index, alt="Placeholder")
            h3.m-people__name= instance.name
            span.m-people__position(data-grep)= instance.position
            ul.m-people__contact
              li= instance.phone
              li: a(href="mailto:" + instance.email)= instance.email
