mixin workItem(instance)
  .m-work__item
    a.m-work__image(style="background-image: url('src/static/img/" + instance.image + "')", href="detail.html")
    .m-work__content
      a.m-work__link(href="detail.html")
        strong.m-work__cat= instance.category
        h4.m-work__name= instance.name
        span.m-work__arrow
          include ../../static/svg/arrow-right.svg
